.containerr{
    margin:0;
    align-content: center;
    margin-top:5%;
    margin-bottom:5%;
}

.searchbar{
    width: 30%;
    padding: 0.5%;
    font-size:90%;
    box-sizing: border-box;
    border-color: black;
}

.buttonss{
    width:7%;
    margin: 2% 1%;
    padding:0.25%;
    font-size:100%;
    background-color: rgb(142, 221, 241);
    border-radius: 5px;
}